main {
  max-inline-size: 90%;
  margin-inline: auto;

  div > div {
    border: .2px solid #ddd;
    padding: 1rem;
  }

  input[type="text"],
  button {
    border: .2px solid #ddd;
    padding: .5rem;
  }
}






/* CJ Layout Styles */
.wrapper {
  inline-size: 80%;
  margin-inline: auto;

  &.sm {
    inline-size: 90%;
    max-inline-size: 800px;
  }
}



h2 {font-size: var(--step-1);}
.blue-whale {
  padding: 1rem;
  background-color: #0066c0;
  color: #fff;

  p:first-of-type {
    font-size: var(--step--1);
    font-weight: 800;
  }

  p:last-of-type {
    font-size: var(--step--2);
  }
}

.site-nav-wrapper {
  background-color: #333;
  padding: 1rem;

  a { color: #fff; }
}

.hero {
  background-color: #666;
  color: #fff;
  padding-block: 5rem 2rem;

  input, button {
    border: 1px solid #ddd;
    padding: 1rem;
  }
}

.search-link {
  @media (width > 710px) {
    --justify: end;
  }
}

.hero-alert {
  background-color: #999;
  padding: 1rem;
}

.clients {
  margin-block-start: 3rem;

  .wrapper > * { padding-block: 2rem; }
}

.news {
  /* @media (width < 900px) {
    [data-row] { --columns: 2; }
  } */
}

.about {
  background-color: #0066c0;
  color: #fff;
  margin-block-start: 5rem;
  padding-block: 5rem;

  [data-cluster] {margin-block: var(--space-l);}
}
.card {
  background-color: #fff;
  color: #333;
  padding: 2rem;
  inline-size: 310px;
}
